
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
             <div>
                <li><h4> Historique de mes feedbacks :</h4></li>
                
         </div>
         <div class="row">
            <div  *ngFor="let feedback of feedbackChunks">
                <div *ngIf="feedback.event.user.idUser===iduser">
                <div class="col-lg-12 col-xl-6" class="card" >
                    <div class="card-body">
                        <div class="menu-product d-flex">
                            <div class="content-detail-wrap">    
                                <div class="card-body" >
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-end">
                                                <div>
                                                    <h5>{{feedback.dateFeedback | date:'MMM dd, yyyy à HH:mm '}}</h5>
                                                </div>
                                                
                                            </div>
                                            <div class="d-flex justify-content-end">
                                            <div>
                                                <span>Type du feedback : {{feedback.serviceType}}</span>
                                            </div>
                                        </div></div>
                                        
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-md-12">
                                            <h4>{{feedback.title}}</h4>
                                            <span>{{feedback.body}}</span>
                                            <h6 class="mb-0"><span class="fs-14 me-2">Ma note :</span>{{feedback.note}}</h6>
                                            <h5 class="mb-0">Plus de détails : </h5>
                                            <h5 class="mb-0">Traitée par l'administrateur le {{feedback.datevu | date:'MMM dd, yyyy à HH:mm '}}</h5>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>	
                        </div>
                    </div>
                </div></div>
              
            </div>
            
           
            
            <div>
                
            </div>




            <div class="modal fade" id="EditAddfeedback" tabindex="-1" event="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" event="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            

            <div class="modal-body">

                <div class="input-group mb-3">
                    <label class="input-group-text mb-0">Type</label>
                    <select class="default-select form-control wide" [(ngModel)]="newFeedback.serviceType">
                        <option value="equipement">equipement</option>
                        <option value="emplacement">emplacement</option>
                        <option value="horaire">horaire</option>
                        <option value="tarification">tarification</option>
                        <option value="services">services</option>
                        <option value="nouriture">nourriture</option>
                        <option value="autre">autre</option>
                    </select>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Titre du feedback</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="newFeedback.title">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Corps</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="newFeedback.body">
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text mb-0">Type</label>
                    <select class="default-select form-control wide" [(ngModel)]="newFeedback.note">
                        <option value="mauvais">mauvais</option>
                        <option value="insuffisant">insuffisant</option>
                        <option value="moyen">moyen</option>
                        <option value="bien">bien</option>
                        <option value="excellent">excellent</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="creatingMode"
                    (click)="createFeedback()">Create Feedback</button>
                <button type="button" class="btn btn-primary" *ngIf="!creatingMode"
                    (click)="modifyFeedback()">Modify Feedback</button>
            </div>
        </div>
    </div>  </div>
    </div>

    </div>
    

