<div class="content-body">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div *ngFor="let task of tasks" class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ task.nameTask }}</h5>
              <br />
              <span
                *ngIf="task.status === 'TODO'"
                class="badge badge-success light"
                style="margin-bottom: 10px"
                >{{ task.status }}</span
              >

              <span
                *ngIf="task.status === 'IN_PROGRESS'"
                class="badge badge-warning light"
                style="margin-bottom: 10px"
                >{{ task.status }}</span
              >

              <span
                *ngIf="task.status === 'COMPLETED'"
                class="badge badge-danger light"
                style="margin-bottom: 10px"
                >{{ task.status }}</span
              >

              <br />
              <div class="d-flex justify-content-between align-items-center">
                <button
                  class="btn btn-info"
                  routerLink="/task/{{ task.idTask }}"
                  [disabled]="task.status === 'COMPLETED'"
                >
                  View Details
                  <span class="btn-icon-end"><i class="fa fa-heart"></i></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
