<div class="card">
  <div class="card-header">
    <h4 class="card-title">Statistiques</h4>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div id="pie-chart-container" style="height: 400px;"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div id="bar-chart-container" style="height: 600px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
</div>
