<!DOCTYPE html>
<html lang="en">
  <div class="content-body">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="shopping-cart mb-2 me-3">
          <a
            class="btn btn-primary text-white"
            data-toggle="modal"
            data-target="#EditAddrecrutement"
            (click)="openModel()"
            ><i class="fa fa-shopping-basket me-2"></i>Create New Recrutement</a
          >
        </div>
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h4 class="card-title mb-0">Recrutement List</h4>
            <div>
              <button
                class="btn btn-outline-primary btn-xs mr-2"
                (click)="getAllRecrutements()"
              >
                Upcoming recrutements
              </button>
              <button
                class="btn btn-outline-primary btn-xs"
                (click)="showArchivedRecs()"
              >
                Past recrutements
              </button>
            </div>
          </div>
          <div class="card-header"></div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-responsive-md">
                <thead>
                  <tr>
                    <!--  <th scope="col">Recrutement ID</th>-->
                    <th scope="col">Recrutement Title</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Number of Vacancies</th>
                    <th scope="col">Skills</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let recrutement of getRecrutementsForPage(currentPage)
                    "
                  >
                    <!--    <td class="text-center">{{ recrutement.idRecrutement }}</td>-->
                    <td class="text-center">{{ recrutement.title }}</td>
                    <td class="text-center">
                      {{ recrutement.dateStart | date }}
                    </td>
                    <td class="text-center">
                      {{ recrutement.dateFinish | date }}
                    </td>
                    <td class="text-center">{{ recrutement.niveau }}</td>
                    <td class="text-center">
                      <ul>
                        <li
                          *ngFor="
                            let skill of recrutement.requiredSkills | keyvalue
                          "
                        >
                          {{ skill.key }}: {{ skill.value }}
                        </li>
                      </ul>
                    </td>

                    <td class="text-center">
                      <div class="btn-group mb-1">
                        <a
                          type="button"
                          class="btn btn-primary light px-3"
                          data-toggle="modal"
                          data-target="#EditAddrecrutement"
                          (click)="openModel(recrutement)"
                        >
                          <i class="fa fa-exclamation-circle"></i>
                        </a>
                        <button
                          type="button"
                          class="btn btn-primary light px-3 nav-link"
                          (click)="deleteRecrutement(recrutement.idRecrutement)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>

                        <a
                          class="btn btn-primary light px-3 nav-link"
                          routerLink="/process/{{ recrutement.idRecrutement }}"
                        >
                          Process
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br />
              <nav>
                <ul class="pagination pagination-gutter">
                  <li class="page-item page-indicator">
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      (click)="decrementPage()"
                    >
                      <i class="la la-angle-left"></i>
                    </a>
                  </li>
                  <li
                    *ngFor="let chunk of recrutementsChunks; let i = index"
                    [class.active]="currentPage === i + 1"
                    class="page-item"
                  >
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      (click)="changePage(i + 1)"
                    >
                      {{ i + 1 }}
                    </a>
                  </li>
                  <li class="page-item page-indicator">
                    <a
                      class="page-link"
                      href="javascript:void(0)"
                      (click)="incrementPage()"
                    >
                      <i class="la la-angle-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="EditAddrecrutement"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-xl"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Recrutement
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Recrutement Name</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newRecrutement.title"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Recrutement Description</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="newRecrutement.description"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Start Date</span
                  >
                </div>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="newRecrutement.dateStart"
                  min="{{ today }}"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >End Date</span
                  >
                </div>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="newRecrutement.dateFinish"
                  min="{{ today }}"
                />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Number of Vacancies</span
                  >
                </div>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="newRecrutement.niveau"
                />
              </div>
              <!-- Votre code existant -->

              <div class="form-group">
                <label for="requiredSkills">Required Skills</label>
                <select
                  multiple
                  class="form-control"
                  id="requiredSkills"
                  name="requiredSkills"
                  [(ngModel)]="newRecrutement.requiredSkills"
                  style="height: 270px"
                >
                  <option value="WRITTEN_COMMUNICATION">
                    + Written communication
                  </option>
                  <option value="ORAL_COMMUNICATION">
                    +Oral communication
                  </option>
                  <option value="TEAMWORK">+ Teamwork</option>
                  <option value="COLLABORATION">+ Collaboration</option>
                  <option value="PROJECT_MANAGEMENT">
                    + Project management
                  </option>
                  <option value="PROBLEM_SOLVING">+Problem-solving</option>
                  <option value="ADAPTABILITY">+ Adaptability</option>
                  <option value="QUICK_LEARNING">+ Quick learning</option>
                  <option value="CREATIVITY">+ Creativity</option>
                  <option value="INNOVATION">+ Innovation</option>
                  <option value="TIME_MANAGEMENT">+ Time management</option>
                  <option value="PRIORITIZATION">+ Prioritization</option>
                  <option value="MARKETING_COMMUNICATION">
                    + Marketing communication
                  </option>
                  <option value="HUMAN_RESOURCES">+Human resources</option>
                  <option value="FINANCE_ACCOUNTING">
                    + Finance accounting
                  </option>
                  <option value="ENGINEERING_CONSTRUCTION">
                    +Engineering construction
                  </option>
                </select>
              </div>

              <!-- Votre code existant -->
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                *ngIf="creatingMode"
                (click)="createRecrutement()"
              >
                Create Recrutement
              </button>
              <button
                type="button"
                class="btn btn-primary"
                *ngIf="!creatingMode"
                (click)="modifyRecrutement()"
              >
                Modify Recrutement
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
