<body
  class="vh-100"
  data-typography="opensans"
  data-theme-version="light"
  data-layout="vertical"
  data-nav-headerbg="color_1"
  data-headerbg="color_1"
  data-sidebar-style="overlay"
  data-sibebarbg="color_1"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-container="wide"
  direction="ltr"
  data-primary="color_1"
>
  <div class="authincation h-100">
    <div class="container h-100">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-6">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <div class="text-center mb-3">
                    <a href="index.html"
                      ><img src="images/logo-full.png" alt=""
                    /></a>
                  </div>
                  <h4 class="text-center mb-4">Forgot Password</h4>
                  <form
                    [formGroup]="forgetPasswordForm"
                    (ngSubmit)="sendForgetPassword()"
                  >
                    <div class="mb-3">
                      <label><strong>Email</strong></label>
                      <input
                        type="email"
                        class="form-control"
                        value="hello@example.com"
                        formControlName="mail"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-block">
                        SUBMIT
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
