//interface  user affichage cards
<div class="content-body">
    <div class="container-fluid">
        <!-- Bouton pour afficher le formulaire -->
        <button type="button" class="btn btn-primary" (click)="showRecrutementForm = true">Create Interview</button>

        <!-- Formulaire de demande d'interview -->
        <div *ngIf="showRecrutementForm">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Interview Request</h5>
                    <form>
                        <div class="mb-3">
                            <label for="whyToJoin" class="form-label">Why to join ?</label>
                            <input type="text" class="form-control" id="whyToJoin" [(ngModel)]="newRecrutementProcess.whyToJoin">
                        </div>
                        <div class="mb-3">
                            <label for="skills" class="form-label">Skills</label>
                            <input type="text" class="form-control" id="skills" [(ngModel)]="newRecrutementProcess.skills">
                        </div>
                        <div class="mb-3">
                            <label for="availability" class="form-label">Availability</label>
                            <select class="form-select" id="availability" [(ngModel)]="newRecrutementProcess.availability">
                                <option value="full-time">Full-time</option>
                                <option value="part-time">Part-time</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="dateInterview" class="form-label">Interview Date</label>
                            <input type="date" class="form-control" id="dateInterview" [value]="newRecrutementProcess.interviewDate" [(ngModel)]="newRecrutementProcess.interviewDate">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Integrated in other clubs?</span>
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="integratedRadio" id="yesRadio" [value]="true" [(ngModel)]="newRecrutementProcess.integratedInOtherClubs">
                                <label class="form-check-label" for="yesRadio">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="integratedRadio" id="noRadio" [value]="false" [(ngModel)]="newRecrutementProcess.integratedInOtherClubs">
                                <label class="form-check-label" for="noRadio">No</label>
                            </div>
                        </div>
                        
                        <div *ngIf="newRecrutementProcess.integratedInOtherClubs">
                            <div class="input-group mb-3" *ngFor="let club of otherClubsList">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" [(ngModel)]="selectedClubs[club]">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="{{ club }}" disabled>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary" (click)="showRecrutementForm = false">Cancel</button>
                         <button type="submit" class="btn btn-primary" *ngIf="creatingMode" (click)="createProcessbyRecrutement()">Create Interview</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Afficher les processus de recrutement -->
        <div class="row mt-3">
            <div *ngFor="let process of processes" class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="menu-product d-flex">
                            <div class="content-detail-wrap" style="margin-left: 30px;">    
                                <div>
                                    <h5 class="card-title">{{ process.idProcessRecrutement }}</h5>
                                    <p class="card-text">Availability:{{ process.availability }}</p>
                                </div>
                                <div class="mt-4 d-flex justify-content-between align-items-center">
                                    <div>
                                        <p class="mb-0">
                                            <span class="fs-14 me-2">Interview Date</span>{{ process.interviewDate |date}}</p>
                                        
                                    </div>
                                    <div>
                                        <a class="btn btn-danger nav-link" routerLink="/recrutementprocessdetailsuser/{{process.idProcessRecrutement}}">View Details</a>
                                    </div>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

