<div class="row mt-4">
    <div class="col-lg-4">
        <div class="testi-box p-4 position-relative">
            <div class="inner-box overflow-hidden">
                <div class="tab-image">
                   
                    <img src="../../assets/images/inner-image/testi/t-1.png" alt="" class="img-fluid">
                    <div class="avatar-xl">
                        <img src="../../assets/images/inner-image/user/img-2.jpg" alt=""
                            class="img-fluid rounded-circle border border-4 border-white">
                    </div>
                </div>
                <div class="text-center">
                    <div class="content-box p-4 pt-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">150 ETH</h6>
                                    <p class="mb-0 fw-semibold text-muted">Sold</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">322</h6>
                                    <p class="mb-0 fw-semibold text-muted">Collection</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">16, 009</h6>
                                    <p class="mb-0 fw-semibold text-muted">Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="testi-box p-4 position-relative">
            <div class="inner-box overflow-hidden">
                <div class="tab-image">
                    <img src="../../assets/images/inner-image/testi/t-2.png" alt="" class="img-fluid">
                    <div class="avatar-xl">
                        <img src="../../assets/images/inner-image/user/img-4.jpg" alt=""
                            class="img-fluid rounded-circle border border-4 border-white">
                    </div>
                </div>
                <div class="text-center">
                    <div class="content-box p-4 pt-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">150 ETH</h6>
                                    <p class="mb-0 fw-semibold text-muted">Sold</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">322</h6>
                                    <p class="mb-0 fw-semibold text-muted">Collection</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">16, 009</h6>
                                    <p class="mb-0 fw-semibold text-muted">Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="testi-box p-4 position-relative">
            <div class="inner-box overflow-hidden">
                <div class="tab-image">
                    <img src="../../assets/images/inner-image/testi/t-3.png" alt="" class="img-fluid">
                    <div class="avatar-xl">
                        <img src="../../assets/images/inner-image/user/img-8.jpg" alt=""
                            class="img-fluid rounded-circle border border-4 border-white">
                    </div>
                </div>
                <div class="text-center">
                    <div class="content-box p-4 pt-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">150 ETH</h6>
                                    <p class="mb-0 fw-semibold text-muted">Sold</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">322</h6>
                                    <p class="mb-0 fw-semibold text-muted">Collection</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pt-3 pt-lg-0">
                                    <h6 class="fw-bold mb-0">16, 009</h6>
                                    <p class="mb-0 fw-semibold text-muted">Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>