<html lang="en">

<div class="content-body">
    <div class="container-fluid">

        <div class="shopping-cart  mb-2 me-3">
            <a class="btn btn-primary text-white" data-toggle="modal" data-target="#EditAddticket"
                (click)="openModel()"><i class="fa fa-shopping-basket me-2"></i>Create New ticket</a>
        </div>
        <div class="row">
            <div *ngFor="let ticket of tickets" class="col-xl-3 col-lg-6 col-sm-6">
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="new-arrival-product">

                                <div class="new-arrival-content text-center mt-3">
                                    <h3>Ticket ID : {{ ticket.idTicket }}</h3>
                                    <h4>Number of tickets : {{ ticket.nbts }}</h4>
                                    <br>
                                    <span class="badge badge-success light">{{ ticket.dateAchat | date }}</span>
                                    <br>
                                    <br>
                                    <span class="price">{{ ticket.typePay }}</span>
                                    <br>
                                    <br>



                                    <div>
                                        <h4 class="mb-0 fs-24 font-w600">{{ ticket.event.price * ticket.nbts
                                            }}</h4>
                                        <span class="price">Total Price</span>
                                    </div>






                                    <br>
                                    <br>


                                    <div class="mail-list rounded mt-4">

                                        <a data-toggle="modal" data-target="#EditAddticket" (click)="openModel(ticket)"
                                            class="list-group-item"><i
                                                class="fa fa-paper-plane font-18 align-middle me-2"></i>Modify</a>

                                        <a (click)="deleteTicket(ticket.idTicket)" class="list-group-item"><i
                                                class="fa fa-trash font-18 align-middle me-2"></i>Trash</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="modal fade" id="exceedTicketsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Cannot select more tickets than available.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="EditAddticket" tabindex="-1" ticket="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" ticket="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">nbts</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="newTicket.nbts">
                        </div>




                        <div class="input-group mb-3">
                            <label class="input-group-text mb-0">type de ticket</label>
                            <select class="default-select form-control wide" [(ngModel)]="newTicket.typePay">

                                <option selected>Choose...</option>
                                <option value="inPerson">in person</option>
                                <option value="online">online</option>
                            </select>
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" *ngIf="creatingMode"
                            (click)="createTicketbyEvent()" >Create Ticket</button>

                        <button type="button" class="btn btn-primary" *ngIf="!creatingMode"
                            (click)="modifyTicket()">Modify Ticket</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</html>
<style>
    .button-group {
        display: flex;
        align-items: center;
        /* Alignement vertical */
    }

    .button-group a {
        margin-right: 8px;
        /* Espacement entre les boutons */
    }
</style>